@model Web_ASM_Nhom6.Models.ChangePasswordModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
}

<div class="container">
    <h2>Đổi Mật Khẩu</h2>
    <form asp-action="ChangePassword" method="post">
        <div class="mb-3">
            <label for="currentPassword" class="form-label">Mật khẩu cũ</label>
            <input type="password" class="form-control" id="currentPassword" name="CurrentPassword" required />
        </div>
        <div class="mb-3">
            <label for="newPassword" class="form-label">Mật khẩu mới</label>
            <input type="password" class="form-control" id="newPassword" name="NewPassword" required />
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Xác nhận mật khẩu mới</label>
            <input type="password" class="form-control" id="confirmPassword" name="ConfirmPassword" required />
        </div>
        <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
    </form>
</div>
<script>
    $(document).ready(function () {
        var changePass = '@ViewData["ChagePass"]';
        if (changePass === "Null") {
            Swal.fire({
                title: "Đổi mật khẩu thất bại",
                text: "Hai mật khẩu không trùng khớp",
                icon: "error",
            });
        } else if (changePass === "Succsess") {
            Swal.fire({
                title: "Đổi mật khẩu thành công",
                text: "Mật khẩu của bạn đã được đổi",
                icon: "success",
            });
        } else if (changePass === "NotSuccsess") {
            Swal.fire({
                title: "Đổi mật khẩu thất bại",
                text: "Có lỗi vui lòng thử lại",
                icon: "error",
            });
        }
    });
</script>
