<div class="card bg-login mt-5 mb-5">
    <div class="card-body row main-card">
        <div class="col-md-6 bg-left" style="background-image: url('https://i.pinimg.com/564x/06/ab/18/06ab18bbf61d13cc1ea3f57f4f855754.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;"></div>
        <div class="col-md-6 bg-right">
            <form asp-action="Login" asp-controller="Login" method="post">
                <div class="text-center ms-5 me-5">
                    <span class="text-title">Đăng nhập</span>
                </div>
                <div class="form-group pb-2 ms-5 me-5">
                    <label class="form-label text-label pb-2" for="Username">Tên tài khoản</label>
                    <input class="form-control input-brd" id="username" type="text" name="username">
                </div>
                <div class="form-group pb-2 ms-5 me-5">
                    <label class="form-label text-label pb-2" for="Password">Mật khẩu</label>
                    <input class="form-control input-brd" id="password" type="password" name="password">
                </div>
                <div class="ms-5 me-5">
                    <ul class="gr-icon">
                        <li class="item"><a style="color: #000;" asp-action="SignInWithFacebook" asp-controller="Login"><i class="fab fa-facebook"></i></a></li>
                        <li class="item"><a style="color: #000;" asp-action="SingInWithGoogle" asp-controller="Login"><i class="fab fa-google"></i></a></li>
                        <li class="item"><a style="color: #000;"><i class="fas fa-mobile"></i></a></li>
                    </ul>
                </div>
                <div class="ms-5 me-5 mb-3">
                    <a class="btn btn-success" href="/UserRegister/RegisterUser">Đăng kí</a>
                    <button type="submit" id="btnLogin" class="btn btn-primary">Đăng nhập</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var loginSuccess = '@TempData["LoginSuccess"]';
        if (loginSuccess === "InputNull") {
            Swal.fire({
                title: "Đăng nhập thất bại",
                text: "Vui lòng nhập tài khoản và mật khẩu",
                icon: "error",
            });
        } else if (loginSuccess === "False") {
            Swal.fire({
                title: "Đăng nhập thất bại",
                text: "Tài khoản hoặc mật khẩu không chính xác",
                icon: "error",
            });
        } else if (loginSuccess === "Block") {
            Swal.fire({
                title: "Đăng nhập thất bại",
                text: "Tài khoản đã bị khóa",
                icon: "warning",
            });
        }
    });
</script>