@model Web_ASM_Nhom6.Models.Menu


@{
    ViewData["Title"] = "Kênh người bán - Thêm danh mục sản phẩm vào menu";
}

<div class="container bg-body-secondary col-md-6 m-auto p-3">
    <h4 class="text-center mt-3">Thêm Danh Mục Sản Phẩm Mới</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="AddMenu" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" hidden>
                    <label asp-for="MenuId" class="control-label"></label>
                    <input asp-for="MenuId" class="form-control" />
                    <span asp-validation-for="MenuId" class="text-danger"></span>
                </div>
                <input asp-for="RestaurantId" hidden value="1" class="form-control" required />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <textarea asp-for="Name" class="form-control"></textarea>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Ghi Chú Danh Mục</label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group form-check" hidden>
                    <input class="form-check-input" asp-for="IsDelete" />
                    <label class="form-check-label" for="IsDelete">
                        @Html.DisplayNameFor(model => model.IsDelete)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Thêm" class="btn btn-primary" />
                    <a asp-action="AdminProduct" class="btn btn-secondary">Quay lại</a>
                </div>
            </form>

            <!-- Modal -->
            <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="errorModalLabel">Lỗi</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Không được bỏ trống thông tin
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var createBtn = document.getElementById('createBtn');
    createBtn.addEventListener('click', function (event) {
        var nameInput = document.getElementById('Name');
        if (!nameInput.checkValidity()) {
            event.preventDefault();
            var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
            errorModal.show();
        }
    });
</script>