@model Web_ASM_Nhom6.Models.Order


<div class="container bg-body-secondary col-md-6 m-auto p-3">
    <h4 class="text-center mt-3">Sửa Đơn Hàng</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="SaveEdit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="OrderId" class="control-label"></label>
                    <input asp-for="OrderId" class="form-control" readonly />
                    <span asp-validation-for="OrderId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserId" class="control-label"></label>
                    <input asp-for="UserId" readonly class="form-control" required />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OrderDate" class="control-label"></label>
                    <input asp-for="OrderDate" class="form-control" required />
                    <span asp-validation-for="OrderDate"></span>
                </div>

                <div class="form-group">
                    <label asp-for="TotalAmount" class="control-label"></label>
                    <input asp-for="TotalAmount" readonly class="form-control" required />
                    <span asp-validation-for="TotalAmount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control" required />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PaymentMethod" class="control-label"></label>
                    <input asp-for="PaymentMethod" class="form-control" required />
                    <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryPerson" class="control-label"></label>
                    <input asp-for="DeliveryPerson" class="form-control" required />
                    <span asp-validation-for="DeliveryPerson" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryStatus" class="control-label"></label>
                    <input asp-for="DeliveryStatus" class="form-control" required />
                    <span asp-validation-for="DeliveryStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
            <!-- Modal -->
            <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="errorModalLabel">Lỗi</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Không được bỏ trống thông tin
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var saveBtn = document.getElementById('saveBtn');
    saveBtn.addEventListener('click', function (event) {
        var nameInput = document.getElementById('Name');
        if (!nameInput.checkValidity()) {
            event.preventDefault();
            var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
            errorModal.show();
        }
    });
</script>
