@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="text-center" style="color: green;"><strong>CHÚNG TÔI LÀ VFOOD!</strong></h1>
<div class="">
    <div class="row">
        <div class="col-md-2">
            <img src="/image/monan1.webp" alt="Món Ăn 1" class="img-fluid mb-3" />
        </div>
        <div class="col-md-2">
            <img src="/image/monan7.jpg" alt="Món Ăn 2" class="img-fluid mb-3" />
        </div>
        <div class="col-md-2">
            <img src="/image/monan3.jpg" alt="Món Ăn 3" class="img-fluid mb-3" />
        </div>
        <div class="col-md-2">
            <img src="/image/monan4.jpg" alt="Món Ăn 4" class="img-fluid mb-3" />
        </div>
        <div class="col-md-2">
            <img src="/image/monan5.jpg" alt="Món Ăn 5" class="img-fluid mb-3" />
        </div>
        <div class="col-md-2">
            <img src="/image/monan6.jpg" alt="Món Ăn 6" class="img-fluid mb-3" />
        </div>
    </div>
</div>

<h1 class="text-center" style="color: green;">MÓN ĂN ĐA DẠNG, HƯƠNG VỊ TUYỆT VỜI</h1>
<h5 class="text-center" style="color: green;">Hãy để chúng tôi mang đến những bữa ăn ngon miệng và đầy dinh dưỡng cho bạn!</h5>
<h1 class="text-center" style="color: green;">GIAO HÀNG NHANH CHỐNG VÀ TIỆN LỢI</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="/image/sp1.webp" alt="Món Ăn 7" class="img-fluid mb-3" />
        </div>
        <div class="col-md-6">
            <img src="/image/sp1.webp" alt="Món Ăn 8" class="img-fluid mb-3" />
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>
<h1 class="text-center" style="color: black;">FOODIE - CHÚNG TÔI LÀ AI?</h1>
<h5 style="color: black;">
    Thành lập từ năm 2024, Vfood là thương hiệu thương mại điện tử chuyên cung cấp các món ăn ngon miệng và đa dạng do nhưng anh chàng rất đẹp trai nhóm 6 thành lập.
    Chúng tôi cam kết mang đến những sản phẩm chất lượng, an toàn và đầy đủ dinh dưỡng cho khách hàng.
    Từ những nguyên liệu tươi ngon nhất, các món ăn của Vfood luôn được chế biến bởi những đầu bếp tài ba, đam mê và sáng tạo.
    Hãy để Vfood là người bạn đồng hành trong mỗi bữa ăn của bạn, mang đến niềm vui và sức khỏe cho gia đình bạn.
</h5>
